$border-radius: 2px;
$composter-orange: #FF4C22;
$resident-blue: #0061ED;
$farmer-green: #00B250;

form {
  display: table;
  max-width: 500px;
}

fieldset {
  border: none;
  display: table-row;
}

label {
  display: inline-block;
  margin-right: 20px;
}

input, textarea {
  display: inline-block;
  width: 100%;
  border: 0;
  padding: 5px;
  border-radius: $border-radius;
}

input[type="submit"] {
  margin: 15px;
  padding: 10px;
  width: auto;
  padding: 10px 24px;
  font-size: 16px;
  box-shadow: -2px 2px 0px 1px darkgray;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: $farmer-green;
}

#who-are-you {
  label {
    width: 100%;
    margin-bottom: 10px;
  }
  button {
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: $composter-orange;
    box-shadow: -2px 2px 0px 1px darkgray;
    margin-right: 8%;
    padding: 10px 24px;
    font-size: 16px;
    &:first-of-type{
      background-color: $resident-blue;
    }
    &:last-of-type{
      background-color: $farmer-green;
    }
    &:hover {
      cursor: pointer;
    }
  }
  border-bottom: solid 1px #aaa;
}

.button {
  border: solid 1px black;
  padding: 8px 16px;
}

.button-group {
  .button {
    margin-right: 5px;
    &.selected {
      background-color: white;
    }
  }
}

.checkbox-group, .radiobutton-group {
  input {
      width: auto;
  }
  * > {
    display: inline;
  }
}
